<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuyong.simplems.system.dao.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.liuyong.simplems.system.ent.Permission" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>

<!--    baseMapper-->
    <select id="list" resultType="com.liuyong.simplems.system.ent.Permission">
        select
        *
        from permission
    </select>

    <select id="getById" resultType="com.liuyong.simplems.system.ent.Permission">
        select
        *
        from permission
        where id = #{id}
    </select>


    <insert id="save" parameterType="com.liuyong.simplems.system.ent.Permission" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into permission (permission_name, description)
        values (#{permissionName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.liuyong.simplems.system.ent.Permission">
    update permission
    set id = #{id,jdbcType=VARCHAR},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <delete id="remove">
    delete
    from permission
    where id = #{id,jdbcType=VARCHAR}
  </delete>

    <select id="getIdByNameBatch" resultType="java.lang.Integer">
        select
        id
        from permission
        where permission_name in
        <foreach collection="list" item="name" index="index" open="(" separator="," close=")">
         #{name}
        </foreach>
    </select>

</mapper>