<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuyong.simplems.system.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.liuyong.simplems.system.ent.Role" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>

<!--    baseMapper-->
    <select id="list" resultType="com.liuyong.simplems.system.ent.Role">
        select
        *
        from role
    </select>

    <select id="getById" resultType="com.liuyong.simplems.system.ent.Role">
        select
        *
        from role
        where id = #{id}
    </select>

    <insert id="save" parameterType="com.liuyong.simplems.system.ent.Role" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into role (role_name, description)
        values (#{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.liuyong.simplems.system.ent.Role">
    update role
    set id = #{id,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <delete id="remove">
    delete
    from role
    where id = #{id,jdbcType=VARCHAR}
  </delete>

<!--    自定义实现-->
    <select id="getIdByNameBatch" resultType="java.lang.Integer">
        select
        id
        from role
        where role_name in
        <foreach collection="list" item="name" index="index" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>

    <select id="getRolesByAccount" resultType="java.lang.String" resultMap="BaseResultMap">
        select r.id, r.role_name, r.description
        from role as r
        left join user_role as ur on r.id = ur.role_id
        left join user as u on ur.user_id = u.id
        where u.account = #{account}
    </select>

    <resultMap id="RoleMenuMap" type="com.liuyong.simplems.system.ent.Role">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <collection property="menuList" ofType="com.liuyong.simplems.system.ent.Menu">
            <id column="m_id" jdbcType="INTEGER" property="id" />
            <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
            <result column="m_description" jdbcType="VARCHAR" property="description" />
            <result column="parent_menu_id" jdbcType="VARCHAR" property="parentMenuId" />
        </collection>
    </resultMap>

    <select id="listRoleMenus" resultMap="RoleMenuMap">
        select r.*, m.id as m_id, m.menu_name, m.description as m_description, m.parent_menu_id
        from
        role as r left join role_menu as rm on r.id = rm.role_id
        left join menu as m on rm.menu_id = m.id
    </select>

    <select id="getRoleMenuById" resultMap="RoleMenuMap">
        select r.*, m.id as m_id, m.menu_name, m.description as m_description, m.parent_menu_id
        from
        role as r left join role_menu as rm on r.id = rm.role_id
        left join menu as m on rm.menu_id = m.id
        where r.id = #{id}
    </select>


    <resultMap id="RolePermissionMap" type="com.liuyong.simplems.system.ent.Role">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <collection property="permissionList" ofType="com.liuyong.simplems.system.ent.Permission">
            <id column="p_id" jdbcType="INTEGER" property="id" />
            <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
            <result column="p_description" jdbcType="VARCHAR" property="description" />
        </collection>
    </resultMap>

    <select id="listRolePermissions" resultMap="RolePermissionMap">
        select r.*, p.id as p_id, p.permission_name, p.description as p_description
        from
        role as r left join role_permission as rp on r.id = rp.role_id
        left join permission as p on rp.permission_id = p.id
    </select>

    <select id="getRolePermissionById" resultMap="RolePermissionMap">
        select r.*, p.id as p_id, p.permission_name, p.description as p_description
        from
        role as r left join role_permission as rp on r.id = rp.role_id
        left join permission as p on rp.permission_id = p.id
        where r.id = #{id}
    </select>
</mapper>